//SPACING
$spacing--xs: rem-calc(16px); //16px
$spacing--sm: 1.5rem; //24px
$spacing--md: 2rem; //32px
$spacing--lg: 3rem; //48px
$spacing--xl: 4rem; //64px
$spacing--xxl: 4.5rem; //72px
$spacing--xxxl: 5.5rem; //96px