/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Icon Button
6. Download Button
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
12. Back to Top Button
13. Video Button
14. Scroll Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	border-radius: $border-radius;
	background-color: get-color(primary);
	font-weight: $font-weight--extrabold;
	font-size: 1.125rem;
	padding: $spacing--xs $spacing--sm;

	@include breakpoint (small only) {
		width: 100%;
	}//end small only breakpoint


	&:hover {
		@include transition (all .2s ease-in-out);
		background-color: get-color(secondary)
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

//2. Secondary Button 
	&--secondary {
		background-color: get-color(secondary);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		
	}//end &--menu

//6. Icon Button
	&--icon {
		padding-right: $spacing--xl;
		&:before {
			background-image: url(#{$path-img}icon/name.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before
	}//end &--icon

//7. Download Button
	&--download{
		color: get-color(default);
		@include fancy-button;
		padding-right: $spacing--xl;
		
		&:before {
			background-image: url(#{$path-img}icon/download-icon.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before

		&:hover {
			color: get-color(default);
		}
	}//end &--download

//8. Pagination Button
	&--pagination {

	}//end &--pagination

//9. Social Buttons
	&--social {
		width: 50px;
		height: 50px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		&.sl_facebook {background-color: #3B5998;}
		&.sl_twitter {background-color: #1DA1F2;};
		&.sl_youtube {background-color: #FF0000;};
		&.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//10. Share Button
	&--share {
		
	}//end .sl_button--share

//11. Carousel Buttons
	&--carousel {
		display: flex;
		position: absolute;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 3px solid get-color(primary);
		background-color: transparent;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		top: 30%;
		padding: 0;

		@include breakpoint (large down) {
			width: 44px;
			height: 44px;
		}//end down breakpoint

		@include breakpoint (small only) {
			top: auto;
			bottom: -12px;
		}//end small only breakpoint

		&:before {
			display: block;
			font-size: 36px;
			font-family: FontAwesome;
			line-height: 1;
			color: get-color(primary);

			@include breakpoint (large down) {
				font-size: 30px;
			}//end large down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md - rem-calc(30px);

			@include breakpoint (large only) {
				left: -$spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				left: -$spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				left: 0;
			}//end small only breakpoint
			&:before {
				content:'\f060';
			}//end &:before	
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md - rem-calc(30px);

			@include breakpoint (large only) {
				right: -$spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				right: -$spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				right: 0;
			}//end small only breakpoint
			&:before {
				content:'\f061';
			}//end &:before	
		}//end &.sl_next

	}//end &--carousel

//12. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 99;
		bottom: $spacing--xs;
		right: $spacing--xs;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop

//13. Video Button
	&--video {
		width: 70px;
		height: 50px;
		background-image: url("../img/icon/video-button.svg");
		background-color: transparent;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		&:hover, &:focus {
			background-image: url("../img/icon/video-button--hover.svg");
			background-color: transparent;
		}//end &:hover
	}//end &--video

//14. Scroll Button
	&--scroll {
		padding: 0;
		display: inline-block;
		background: none;
		font-size: 1.125rem;

		&:before {
			content:'\f063';
			display: inline-block;
			border-radius: 50%;
			border: 1px solid get-color(inverse);
			width: 25px;
			height: 25px;
			font-size: 1.25rem;
			font-family: FontAwesome;
			margin-right: rem-calc(5px);
			text-align: center;
			padding-top: 2px;
		}//end &:before

		&:hover, &:focus {
			background: none;
			text-decoration: underline !important;
		}//end &:hover, &:focus
	}//end &--scroll
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;

		@include breakpoint (small only) {
			width: 100%;
		}//end small only breakpoint
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: rem-calc(10px);
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
