.sl_sticky-cta {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: get-color(primary);
	z-index: 1000;
	padding: $spacing--xs 0;
	box-shadow: $shadow;

	@include breakpoint (small only) {
		padding: $spacing--xs/2 0;
	}//end small only breakpoint

	p {
		color: get-color(inverse);
		text-align: center;
		font-size: 1.75rem;
		margin-bottom: 0;

		@include breakpoint (medium down) {
			font-weight: $font-weight--bold;

			&:before {
				display: inline-block;
				content: '\f095';
				font-family: FontAwesome;
				font-size: 1.5rem;
				margin-right: $spacing--xs/2;
			}//end &:before
		}//end medium down breakpoint

		@include breakpoint (small only) {
			font-size: 1.125rem;
		}//end small only breakpoint
	}//end p
	a {
		color: get-color(inverse);
	}//end a
}//end .sl_sticky-cta