.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: get-color(accent2);
	height: 800px;
	max-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 0;

	@include breakpoint (xlarge down) {
		background-position: top center;
	}//end xxlarge down breakpoint

	@include breakpoint (small only) {
		max-height: none;
		height: auto;
		padding-top: rem-calc(91.55px) + 2.5rem;
	}//end small only breakpoint

	&:after {
		@include pseudo;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient(0deg, rgba(231,179,24,0.00) 0%, rgba(231,181,0,0.86) 48%, rgba(217,18,122,0.95) 100%);
	}//end &:after

	h1 {
		font-size: 5rem;
		line-height: 5.25rem;
		font-weight: $font-weight--extrabold;
		text-align: center;
		max-width: 760px;
		margin: 0 auto $spacing--md;
		color: get-color(inverse);
		position: relative;

		@include breakpoint (medium only) {
			font-size: 4rem;
			line-height: 5rem;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			font-size: rem-calc(46px);
			line-height: rem-calc(54px);
			max-width: 290px;
		}//end small only breakpoint

		strong {
			color: get-color(primary);
			font-weight: $font-weight--extrabold;
			letter-spacing: -2px;
		}//end strong

		&:before {
			@include pseudo;
			background-image: url("../img/road-ribbon.svg");
			background-size: 100% 100%;
			background-repeat: no-repeat;
			width: 197px;
			height: 202px;
			left: -116px;
			top: 43px;

			@include breakpoint (medium only) {
				width: 132px;
				height: 135px;
				left: -16px;
				top: 60px;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				width: 83px;
				height: 85px;
				left: -40px;
				top: 95px;
			}//end small only breakpoint
		}//end &:before
	}//end h1

	p {
		text-align: center;
		font-size: rem-calc(22px);
		line-height: rem-calc(34px);
		max-width: 622px;
		margin: 0 auto 2.5rem;
		font-weight: $font-weight--semibold;
	}//end p

	.sl_button-group {
		@include breakpoint (small only) {
			margin-bottom: $spacing--lg;
		}//end small only breakpoint
	}//end .sl_button-group

	.sl_button--scroll {
		position: absolute;
		bottom: $spacing--sm;
		left: auto;
		right: auto;
		margin: 0 auto;
		text-align: center;
		z-index: 2;

		@include breakpoint (small only) {
			position: static;
			margin-bottom: $spacing--xxl;
		}//end small only breakpoint
	}//end .sl_button--scroll
	
}//end .sl_module--billboard