.sl_list {
	h2 {
		text-align: center;
	}//end h2

	.sl_inner {
		& > p {
			text-align: center;
			max-width: 622px;
			margin: 0 auto $spacing--xxxl;

			@include breakpoint (small only) {
				margin-bottom: $spacing--xl;
			}//end small only breakpoint
		}//end p
	}//end .sl_inner

	.sl_row {
		max-width: 1096px;
		margin: 0 auto;

		.sl_cell {
			padding: 0 $spacing--md;
			margin-bottom: $spacing--xs * 2.5;

			@include breakpoint (medium only) {
				margin-bottom: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				margin-bottom: $spacing--md;
				padding-right: 0;
			}//end small only breakpoint

			&:last-of-type {
				margin-bottom: 0;
			}//end &:last-of-type

			p {
				position: relative;
				padding-left: 20px;
				margin-bottom: 0;

				&:before {
					@include pseudo;
					background-image: url("../img/icon/checkmark.svg");
					background-size: 100% 100%;
					background-repeat: no-repeat;
					width: 36px;
					height: 36px;
					left: -36px;
					top: 0;
				}//end &:before
			}//end p
		}//end .sl_cell
	}//end .sl_row
}//end .sl_list