.sl_location {
	padding-top: 0;

	.sl_card {
		max-width: $global-width/3 + $spacing--xl;
		margin-left: auto;
		padding: $spacing--xxxl $spacing--xl;

		@include breakpoint (large only) {
			padding: $spacing--xxxl $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--xxl $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding: $spacing--xxl $spacing--xs;
		}//end small only breakpoint

		h3 {
			font-family: $body-font-family;
			font-size: rem-calc(26px);
			font-weight: $font-weight--semibold;
			line-height: rem-calc(36px);
			color: get-color(secondary);
			margin-bottom: $spacing--lg;
		}//end h3

		p {
			font-size: 1.325rem;
			line-height: rem-calc(36px);
			margin-bottom: $spacing--xs;

			em {
				font-size: 1.125rem;
			}//end em

			&:last-of-type {
				margin-bottom: $spacing--lg;
			}//end &:last-of-type
		}//end p
	}//end .sl_card

	&__map {
		position: relative;
	}//end &__map

	.map-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@include breakpoint (small only) {
			position: static;
		}//end small only breakpoint
		
		.map{
			min-height: 400px;
			height: 100%;
			
			&--info{
				h3{
					font-size: 1.25rem;

					@include breakpoint (small only) {
						font-size: 15px;
						margin-bottom: 5px;
						line-height:10px;
					}//end small only breakpoint
				}//end h3

				p{
					font-size: 1rem;
					line-height: 1.5rem;

					@include breakpoint (small only) {
						font-size: 14px;
						margin-bottom: 10px;
					}//end small only breakpoint
				}//end p
			}//end --info
		}//end .map
	}//end .map-container
}//end .sl_location