.sl_spotlight {
	background-color: get-color(accent1);
	padding: $spacing--xl rem-calc(197px) + $spacing--md $spacing--xl 0;

	@include breakpoint (medium only) {
		padding-right: $spacing--xxl * 2;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--lg 0;
	}//end small only breakpoint


	&:before {
		@include pseudo;
		background-image: url("../img/road-ribbon.svg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		transform:scaleX(-1);
		width: 286px;
		height: 293px;
		right: $spacing--sm;
		bottom: 0;

		@include breakpoint (large only) {
			right: -$spacing--md;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			width: 197px;
			height: 202px;
			right: -$spacing--xs;
			bottom: -$spacing--xs;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			width: 114px;
			height: 115px;
			bottom: -36px;
			right: -36px;
			transform: none;
		}//end small only breakpoint
	}//end &:before

	p {
		font-size: rem-calc(34px);
		line-height: rem-calc(56px);
		color: #414042;
		text-align: center;
		max-width: 1077px;
		margin: 0 auto;
		font-weight: $font-weight--semibold;

		@include breakpoint (medium down) {
			font-size: rem-calc(26px);
			line-height: 2.5rem;
		}//end medium down breakpoint
	}//end p

	&--left {
		padding: $spacing--xxl 0 $spacing--xxl rem-calc(197px) + $spacing--md;

		@include breakpoint (medium only) {
			padding-left: $spacing--xxl * 2;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding: $spacing--lg 0;
		}//end small only breakpoint

		&:before {
			right: auto;
			left: $spacing--sm;
			transform: none;

			@include breakpoint (large only) {
				left: -$spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				left: -$spacing--xs;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				transform: scaleX(-1);
				width: 114px;
				height: 115px;
				bottom: -36px;
				left: -36px;
			}//end small only breakpoint
		}//end &:before

		p {
			max-width: none;
		}//end p
	}//end &--left
}//end .sl_spotlight