.sl_staff-slider {
	h2 {
		text-align: center;
		margin-bottom: $spacing--xxxl - $spacing--md;
	}

	.sl_slider {
		.slick-dots {
			text-align: center;
			margin: 0;

            li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                cursor: pointer;

                &.slick-active {
                    button {
                        background-color: get-color(secondary);
                        border: none;
                    }//end button
                }//end &.slick-active

                button {
                    background-color: transparent;
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    border: 2px solid get-color(primary);
                }//end button
            }//end li
        }//end .slick-dots
	}//end .sl_slider

	.sl_card {
		padding: 0 $spacing--md;
		margin-top: $spacing--md;

		@include breakpoint (small only) {
			padding: 0;
		}//end small only breakpoint

		h4 {
			font-family: $body-font-family;
			color: get-color(secondary);
			font-weight: $font-weight--semibold;
			font-size: 1.5rem;
			margin-bottom: $spacing--sm;
		}//end h4

		.sl_row {
			@include breakpoint (large down) {
				flex-direction: column;
				align-items: center;
			}//end large down breakpoint
		}//end .sl_row

		&__media {
			position: relative;
			width: 160px;
			height: 160px;

			&:before {
				@include pseudo;
				background-image: url("../img/image-border--small.svg");
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 192px;
				height: 192px;
				left: calc(50% - 96px);
	    		top: calc(50% - 96px);
			}//end &:before;

			@include breakpoint (large down) {
				margin-bottom: $spacing--xs * 2.5;
			}//end large down breakpoint
		}//end &__media

		&__image {
			position: absolute;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: 50%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

		}//end &__image

		&__content {
			padding-left: $spacing--md;

			@include breakpoint (large down) {
				padding-left: 0;
			}//end large down breakpoint
		}//end &__content

		&__quote {
			font-style: italic;
			font-weight: $font-weight--semibold;
			margin-bottom: $spacing--sm;
		}//end &__quote

		&__cite {
			margin-bottom: 0;
		}//end &__cite
	}//end .sl_card
}//end sl_staff-slider 