.sl_testimonial {
	overflow: hidden;

	padding-bottom: rem-calc(187px);

	@include breakpoint (large only) {
		padding-bottom: rem-calc(187px);
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: rem-calc(100px);
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: rem-calc(100px);
	}//end small down breakpoint

	&--left {
		.sl_testimonial__media {
			order: 2;

			@include breakpoint (small only) {
				order: 1;
			}//end small only breakpoint
		}//end .sl_testimonial__media
		
		.sl_testimonial__content {
			order: 1;
			padding-left: 0;
			padding-right: $spacing--xxl;

			@include breakpoint (small only) {
				order: 2;
				padding-right: 0;
			}//end small only breakpoint

			.sl_card {
				padding-left: 0;
				padding-right: $spacing--sm;

				@include breakpoint (small only) {
					padding-right: 0;
				}//end small only breakpoint
			}//end .sl_card
		}//end .sl_testimonial__content
	}//end &--left

	.sl_inner {
		& > h2{
			text-align: center;
		}//end & > h2

		& > p {
			text-align: center;
			max-width: 895px;
			margin: 0 auto;
		}//end & > p
	}//end .sl_inner

	.sl_row {
		max-width: 1064px;
		margin: $spacing--xxxl + rem-calc(32px) auto 0;

		@include breakpoint (small only) {
			flex-direction: column;
			align-items: center;
			margin-top: $spacing--xxxl;
		}//end small only breakpoint
	}//end .sl_row

	&__media {
		position: relative;
		width: 400px;
		height: 400px;

		@include breakpoint (medium only) {
			width: 260px;
			height: 260px;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			width: 260px;
			height: 260px;
			margin-bottom: $spacing--lg;
		}//end small only breakpoint

		&:before {
			@include pseudo;
			background-image: url("../img/image-border--large.svg");
			background-size: 100% 100%;
			background-repeat: no-repeat;
			width: 908px;
			height: 468px;
			left: calc(50% - 454px);
    		top: calc(50% - 234px);

    		@include breakpoint (medium down) {
    			background-image: url("../img/image-border--small.svg");
    			width: 308px;
    			height: 308px;
    			left: calc(50% - 154px);
    			top: calc(50% - 154px);
    		}//end medium down breakpoint
		}//end &:before;
	}//end &__media

	&__image {
		position: absolute;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 50%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.sl_button {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 35px);
		}//end .sl_button
	}//end &__image

	&__content {
		padding-left: $spacing--xxl;

		@include breakpoint (medium only) {
			padding-left: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-left: 0;
		}//end small only breakpoint

		.sl_card {
			padding-top: 60px;
			padding-left: $spacing--sm;
			position: relative;

			@include breakpoint (small only) {
				padding-top: 42px;
				padding-left: 0;
			}//end small only breakpoint

			&:before{
				@include pseudo;
				background-image: url("../img/icon/quotes-top.svg");
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 65px;
				height: 40px;
				left: 0px;
				top: 0;

				@include breakpoint (medium down) {
					width: 50px;
					height: 30px;
				}//end medium down breakpoint
			}//end &:before

			&:after {
				@include pseudo;
				background-image: url("../img/icon/quotes-bottom.svg");
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 65px;
				height: 40px;
				right: 0px;
				bottom: 0;

				@include breakpoint (medium down) {
					width: 50px;
					height: 30px;
				}//end medium down breakpoint
			}//end &:after
		}//end .sl_card
	}//end &__content

	&__quote {
		p {
			font-style: italic;
			margin-bottom: $spacing--lg;

			@include breakpoint (small only) {
				margin-bottom: $spacing--sm;
			}//end small only breakpoint
		}//end p
	}//end &__quote

	&__cite {
		p {
			color: get-color(secondary);
			margin-bottom: 0;

			strong {
				font-weight: $font-weight--semibold;

				@include breakpoint (medium down) {
					display: block;
				}//end medium down breakpoint
			}//end strong
		}//end p
	}//end &__cite
}//end .sl_testimonial