{{!DESKTOP}}
<div id="footer-sticky" class="sl_sticky-cta show-for-large">
	<div class="sl_inner">
		{{#markdown}}{{content}}{{/markdown}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_sticky-cta -->

{{!MOBILE}}
<a id="footer-sticky" href="{{small.url}}" class="sl_sticky-cta hide-for-large">
	<div class="sl_inner">
		<p>{{small.text}}</p>
	</div><!-- /.sl_inner -->
</a><!-- /.sl_sticky-cta -->