<div id="footer" class="sl_footer">
	<div class="sl_inner">
		<div class="sl_row">
			<div class="sl_cell">
				 <img src="{{@root.site.logo.img}}" class="sl_logo" alt="{{@root.site.logo.alt}}" />
			</div><!-- /.sl_cell -->
			<div class="sl_cell medium-auto small-12">
				 {{#markdown}}{{location}}{{/markdown}}
			</div><!-- /.sl_cell -->
		</div><!-- /.sl_row -->
		{{#markdown}}{{content}}{{/markdown}}
		<p>© <script>document.write(new Date().getFullYear())</script> {{@root.site.name}}. All rights reserved.</p>
	</div><!-- /.sl_inner -->
</div><!-- /.sl_footer -->