<div id="{{id}}" class="sl_module sl_list {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#markdown}}{{heading}}{{/markdown}}
		{{#markdown}}{{content}}{{/markdown}}
		<div class="sl_row medium-up-2">
			{{#each items}}
			<div class="sl_cell">
				<p>{{text}}</p>
			</div><!-- /.sl_cell -->
			{{/each}}
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_list -->