<div class="sl_module sl_location {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner sl_inner--expanded">
		<div class="sl_row">
			<div class="sl_cell sl_location__content xlarge-4 large-5 medium-6">
				<div class="sl_card">
					{{#markdown}}{{content}}{{/markdown}}
					<a class="sl_button" target="_blank" href="{{url}}">Get Directions</a>
				</div><!-- /.sl_card -->
			</div><!-- /.sl_cell -->
			<div class="sl_cell sl_location__map xlarge-8 large-7 medium-6">
				<div class="map-container">
					<div class="map"
					data-map
					data-map-lat="36.3934085"
					data-map-lng="-97.8742212"
        			data-map-zoom="12"
					data-map-style="grey"></div>
				</div>{{!--/.map-container--}}
			</div><!-- /.sl_cell -->
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_location -->