<div id="{{id}}" class="sl_module sl_testimonial {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		{{#if content}}{{#markdown}}{{content}}{{/markdown}}{{/if}}
		<div class="sl_row">
			<div class="sl_cell sl_testimonial__media">
				<div class="sl_testimonial__image" style="background-image: url({{img}})">

					{{!VIDEO MODAL}}
					{{#if video}}
					<a class="sl_button sl_button--video" data-open="{{modal-id}}"></a>
					{{/if}}
					
				</div><!-- /.sl_testimonial__image -->
			</div><!-- /.sl_cell -->
			<div class="sl_cell medium-auto small-12 sl_testimonial__content">
				<div class="sl_card">
					<div class="sl_testimonial__quote">
						{{#markdown}}{{quote}}{{/markdown}}
					</div><!-- /.sl_testimonial__quote -->
					<div class="sl_testimonial__cite">
						{{#markdown}}{{cite}}{{/markdown}}
					</div><!-- /.sl_testimonial__cite -->
				</div><!-- /.sl_testimonial__content -->
			</div><!-- /.sl_cell -->
		</div><!-- /.sl_row -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_testimonial -->

{{#if video}}
{{!REVEAL}}
<div class="reveal sl_reveal sl_reveal--video" data-reveal data-reset-on-close="true" id="{{modal-id}}">
	<div class="responsive-embed widescreen">
		<iframe width="560" height="315" src="{{video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>{{!--/widescreen.flex.video--}}
		<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden>&times;</span>
		</button>{{!--/button--}}
</div>{{!--/.reveal--}}
{{/if}}