<div id="{{id}}" class="sl_module sl_billboard" style="background-image: url({{img}})">
	<div class="sl_inner">
		<div class="sl_card">
			{{#markdown}}{{heading}}{{/markdown}}
			{{#markdown}}{{content}}{{/markdown}}
			<div class="sl_button-group">
				{{#each buttons}}
				<a class="sl_button" href="{{url}}" data-smooth-scroll data-offset="-100">{{text}}</a>
				{{/each}}
			</div><!-- /.sl_button-group -->
		</div><!-- /.sl_card -->
	</div><!-- /.sl_inner -->

	<a class="sl_button sl_button--scroll" href="{{scroll}}" data-smooth-scroll data-offset="-100">Scroll</a>
</div><!-- /.sl_module.sl_billboard -->